<ion-header class="ion-no-border simple-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" text=""></ion-back-button>
    </ion-buttons>

    <ion-title mode="md"><div class="title-wrap">Calendar integrations</div></ion-title>

    <ion-buttons slot="end" mode="md">
      <ion-menu-toggle menu="candidateMenu">
        <ion-button>
          <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="mo-buttons-wrap">
    <!-- <ion-button expand="block" color="secondary" fill="outline" class="mo-btn">Google</ion-button> -->
    <!-- <ion-button expand="block" color="secondary" fill="outline" class="mo-btn">iCal</ion-button>
    <ion-button expand="block" color="secondary" fill="outline" class="mo-btn">Outlook</ion-button> -->
  </div>

</ion-content>
