<ion-header class="ion-no-border simple-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" text=""></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end" mode="md">
      <ion-menu-toggle menu="candidateMenu">
        <ion-button>
          <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="text-page">
  <h2>{{question.title}}</h2>
  <p [innerHTML]="question.text"></p>
</ion-content>
