ion-content {
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 16px;
}

// .c-list-item__avatar {
//     width: 32px;
//     height: 32px;

// }

.c-raiting-sm {
    margin-top: 4px;
}