@import "../../../theme/_login";

.prod-mark-wrap {
    background: lightgrey;
    background-size: cover;
    color: red;
    display: flex;
    justify-content: center;
}

.eye {
    height: 30px;
    width: 25px;
}