@import "../../../../theme/forms";
@import "../../../../theme/_modals";

ion-content {
    --padding-top: 16px;
    --padding-bottom: 16px;
    --padding-start: 0;
    --padding-end: 0;
}

.pos-candidate-info {
    padding-left: 16px;
    padding-right: 16px;
}

.msg-btn-wrap {
    margin: 24px 0;
}